@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f9fd;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 350px;
  background-color: #ffffff;
}

.header {
  background-color: #3e57db;
  color: #fff;
  padding: 30px 20px;
  text-align: center;
}

.header .title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.header .subtitle {
  margin: 10px 0;
  opacity: 0.8;
  font-size: 14px;
}

.header input {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  border-radius: 25px;
  color: #fff;
  font-size: 14px;
  padding: 10px 15px;
  width: 100%;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}


.header input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.4);
}

.user-list {
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 400px;
  overflow-y: auto;
}

.user-list li {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  transition: background-color 0.3s ease;
}

.user-list li:hover {
  background-color: #f0f1f6;
}

.user-list img {
  border-radius: 50%;
  object-fit: cover;
  height: 50px;
  width: 50px;
  border: 2px solid #3e57db;
}

.user-list .user-info {
  margin-left: 15px;
}

.user-list .user-info h4 {
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: 700;
  color: #333;
}

.user-list .user-info p {
  font-size: 14px;
  color: #666;
}

.user-list li:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}

.user-list li.hide {
  display: none;
}
